body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    text-align: center;
    padding-top: 50px;
}

button {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
